# PCR report Work In Progress :)

In [1]:
import pandas as pd
import os

from pcrep.parse_input import parse_analysis_filepath
from pcrep.constants import CONC_NAME, DIL_FINAL_FACTOR_NAME, DIL_TYPE_NAME, DIL_SAMPLE_DESCRIPTION_NAME, SAMPLE_ID_NAME

INPUT_PCR_DATA = "./example/231108_GN004773-019/230811_GN004773-019_20230811_100101_999.csv"
CONFIG_DIR = "C:/work/pcr-report/data"
df = pd.read_csv(INPUT_PCR_DATA, delimiter=';', decimal=',')
# df = df.replace(',', '.', regex=True)
df[CONC_NAME] = df[CONC_NAME].astype('Float64')

parsedc = parse_analysis_filepath(INPUT_PCR_DATA)
ANALYSIS_DIR = parsedc['analysis_dir']

BASE_FILEPATH = os.path.join(
    ANALYSIS_DIR, '{}_{}'.format(parsedc['date'], parsedc['gn']))
display(ANALYSIS_DIR)
display(BASE_FILEPATH)

'./example/231108_GN004773-019'

'./example/231108_GN004773-019\\230811_GN004773-019'

In [2]:
df

,Well,Sample description 1,Sample description 2,Sample description 3,Sample description 4,Target,Conc(copies/µL),Status,Experiment,SampleType,TargetType,Supermix,DyeName(s),Accepted Droplets,Positives,Negatives
0,A01,1,NaN,NaN,NaN,IDT,0.0,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),FAM,21095,0,21095
1,A01,1,NaN,NaN,NaN,ITR,0.0,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),VIC,21095,0,21095
2,A02,1,NaN,NaN,NaN,IDT,0.060016,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),FAM,19603,1,19602
3,A02,1,NaN,NaN,NaN,ITR,0.060016,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),VIC,19603,1,19602
4,B03,10,NaN,NaN,NaN,IDT,19.570505,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),FAM,19882,328,19554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,H02,8,NaN,NaN,NaN,ITR,252.962326,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),VIC,19274,3729,15545
112,A03,9,NaN,NaN,NaN,IDT,179.715485,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),FAM,19017,2694,16323
113,A03,9,NaN,NaN,NaN,ITR,229.249878,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),VIC,19017,3367,15650
114,A04,9,NaN,NaN,NaN,IDT,169.293396,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),FAM,20526,2751,17775
115,A04,9,NaN,NaN,NaN,ITR,218.008926,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),VIC,20526,3472,17054

In [3]:
INPUT_CONCENTRATION_DATA = BASE_FILEPATH + '_conc.csv'
df_conc = pd.read_csv(INPUT_CONCENTRATION_DATA, sep=";", decimal=',')

df_conc.set_index([SAMPLE_ID_NAME], inplace=True)
df_conc

          type                          Sample name  final dilution factor
sample_id
1           nc  Negative control nuclease free dH20                  100.0
2           pc        Plasmid control (pXL029_SacI)                28600.0
3           rc   Reference control (PP073_1933_FDP)                50000.0
4            s           FB04-ID01, SI23-020-T04 CT                50000.0
5            s           FB04-ID02, SI23-020-T04 CT                50000.0
6            s           FB04-ID03, SI23-020-T04 CT                50000.0
7            s           FB04-ID04, SI23-020-T04 CT                50000.0
8            s           FB04-ID05, SI23-020-T04 CT                50000.0
9            s           FB04-ID06, SI23-020-T04 CT                50000.0
10           s           FB04-ID07, SI23-020-T04 CT                50000.0
11           s           FB04-ID08, SI23-020-T04 CT                50000.0
12           s           FB04-ID09, SI23-020-T04 CT                50000.0
13           s           FB04-ID10, SI23-020-T04 CT                50000.0
14           s           FB04-ID11, SI23-020-T04 CT                50000.0
15           s           FB04-ID12, SI23-020-T04 CT                50000.0
16           s           FB04-ID13, SI23-020-T04 CT                50000.0
17           s           FB04-ID14, SI23-020-T03 CT                50000.0
18           s           FB04-ID15, SI23-020-T03 CT                50000.0
19           s           FB04-ID16, SI23-020-T03 CT                50000.0
20           s           FB04-ID17, SI23-020-T03 CT                50000.0
21           s           FB04-ID18, SI23-020-T03 CT                50000.0
22           s           FB04-ID19, SI23-020-T03 CT                50000.0
23           s           FB04-ID20, SI23-020-T03 CT                50000.0
24           s           FB04-ID21, SI23-020-T03 CT                50000.0
25           s           FB04-ID22, SI23-020-T03 CT                50000.0
26           s           FB04-ID23, SI23-020-T03 CT                50000.0
27           s           FB04-ID24, SI23-020-T03 CT                50000.0
28           s           FB04-ID25, SI23-020-T03 CT                50000.0
29           s           FB04-ID26, SI23-020-T03 CT                50000.0

In [4]:
from pcrep.constants import FDL_NAME, SAMPLE_NAME, SAMPLE_TYPE_NAME, SAMPLE_NUM_NAME



df.loc[:, [FDL_NAME]] = df[SAMPLE_NUM_NAME].map(
    df_conc[DIL_FINAL_FACTOR_NAME], na_action='ignore')



df.loc[:, [SAMPLE_NAME]] = df[SAMPLE_NUM_NAME].map(
    df_conc[DIL_SAMPLE_DESCRIPTION_NAME], na_action='ignore')



df.loc[:, [SAMPLE_TYPE_NAME]] = df[SAMPLE_NUM_NAME].map(
    df_conc[DIL_TYPE_NAME], na_action='ignore')



df = df.dropna(subset=[SAMPLE_TYPE_NAME])
df

,Well,Sample description 1,Sample description 2,Sample description 3,Sample description 4,Target,Conc(copies/µL),Status,Experiment,SampleType,TargetType,Supermix,DyeName(s),Accepted Droplets,Positives,Negatives,final dilution factor,Sample,sample type
0,A01,1,NaN,NaN,NaN,IDT,0.0,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),FAM,21095,0,21095,100.0,Negative control nuclease free dH20,nc
1,A01,1,NaN,NaN,NaN,ITR,0.0,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),VIC,21095,0,21095,100.0,Negative control nuclease free dH20,nc
2,A02,1,NaN,NaN,NaN,IDT,0.060016,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),FAM,19603,1,19602,100.0,Negative control nuclease free dH20,nc
3,A02,1,NaN,NaN,NaN,ITR,0.060016,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),VIC,19603,1,19602,100.0,Negative control nuclease free dH20,nc
4,B03,10,NaN,NaN,NaN,IDT,19.570505,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),FAM,19882,328,19554,50000.0,"FB04-ID07, SI23-020-T04 CT",s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,H02,8,NaN,NaN,NaN,ITR,252.962326,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),VIC,19274,3729,15545,50000.0,"FB04-ID05, SI23-020-T04 CT",s
112,A03,9,NaN,NaN,NaN,IDT,179.715485,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),FAM,19017,2694,16323,50000.0,"FB04-ID06, SI23-020-T04 CT",s
113,A03,9,NaN,NaN,NaN,ITR,229.249878,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),VIC,19017,3367,15650,50000.0,"FB04-ID06, SI23-020-T04 CT",s
114,A04,9,NaN,NaN,NaN,IDT,169.293396,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),FAM,20526,2751,17775,50000.0,"FB04-ID06, SI23-020-T04 CT",s
115,A04,9,NaN,NaN,NaN,ITR,218.008926,Manual,DQ,Unknown,Unknown,ddPCR Supermix for Probes (No dUTP),VIC,20526,3472,17054,50000.0,"FB04-ID06, SI23-020-T04 CT",s

In [5]:
targets = df['Target'].unique()
display(targets)
samples = df['Sample description 1'].unique()
samples.sort()
display(samples)

array(['IDT', 'ITR'], dtype=object)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29], dtype=int64)

## Compute results

In [6]:
from pcrep.constants import WELL_RESULT_NAME
from pcrep.pcrep import result_fn


df.loc[:, [WELL_RESULT_NAME]] = df.apply(lambda x: result_fn(
    x['Conc(copies/µL)'], x['final dilution factor']), axis=1)

### Limits

In [7]:
PLASMID_CONTROL_LIMITS_FILE = 'plasmid_control_limits.csv'
palsmid_control_limits = pd.read_csv(
    os.path.join(CONFIG_DIR, PLASMID_CONTROL_LIMITS_FILE))
palsmid_control_limits.set_index(['Target'], inplace=True)
palsmid_control_limits

,mean,upper 2s warning,lower 2s warning,upper 3s action,lower 3s action
Target,,,,,
IDT,6.200000e+10,7.560000e+10,4.840000e+10,8.240000e+10,4.160000e+10
FVIII,2.040000e+10,3.120000e+10,9.660000e+09,3.660000e+10,4.270000e+09
HT2,1.920000e+11,2.330000e+11,1.510000e+11,2.540000e+11,1.310000e+11
ITR,5.940000e+10,7.300000e+10,4.590000e+10,7.970000e+10,3.910000e+10
FIX,9.320000e+10,1.410000e+11,4.580000e+10,1.640000e+11,2.200000e+10

In [8]:
REFERENCE_CONTROL_LIMITS_FILE = 'reference_control_limits.csv'
reference_control_limits = pd.read_csv(
    os.path.join(CONFIG_DIR, REFERENCE_CONTROL_LIMITS_FILE))
reference_control_limits.set_index(['Target'], inplace=True)
reference_control_limits

,mean,upper 2s warning,lower 2s warning,upper 3s action,lower 3s action
Target,,,,,
IDT,1.320000e+11,1.710000e+11,9.200000e+10,1.910000e+11,7.230000e+10
ITR,1.870000e+11,2.300000e+11,1.440000e+11,2.510000e+11,1.230000e+11
ITR - IDT,1.870000e+11,2.300000e+11,1.440000e+11,2.510000e+11,1.230000e+11
FVIII,9.030000e+11,1.140000e+12,6.700000e+11,1.250000e+12,5.530000e+11
ITR - FVIII,5.170000e+11,6.030000e+11,4.300000e+11,6.470000e+11,3.870000e+11
HT2,1.910000e+11,2.270000e+11,1.550000e+11,2.450000e+11,1.370000e+11
FIX,1.720000e+11,2.240000e+11,1.210000e+11,2.490000e+11,9.510000e+10

How to access limits

In [9]:
rcl = reference_control_limits
lmts = rcl.loc['IDT']
lmts['upper 3s action']

191000000000.0

In [10]:
method_limits = pd.read_csv('./data/method_limits.csv')
method_limits.set_index(['target_id'], inplace=True)
display(method_limits)

dc_limits = {'method': method_limits, 'reference_control': reference_control_limits,
             'plasmid_control': palsmid_control_limits}

,Target,Lower [vg/μl],Upper [vg/μl]
target_id,,,
FIX,FIX (TAK-748),17,2675
HT2,Huntington (TAK-686),10,4690
IDT,ID tag,15,3360
FVIII-ITR,FVIII/ITR Duplex (TAK-754 and TAK-709),15,3360
IDT-ITR,ID tag/ITR Duplex,15,3360
ITR,ITR,15,3360
FXN,FXN,15,3360

In [11]:
method_limits.loc['IDT']['Lower [vg/μl]']
mlmts = method_limits.loc['IDT']
mlmts['Lower [vg/μl]']

15

### Multiindex ????

In [12]:
dfi = df.copy()
dfi.reset_index(inplace=True)
dfi.rename(columns={'Sample description 1': SAMPLE_ID_NAME}, inplace=True)
dfi.set_index([SAMPLE_ID_NAME, 'Target', 'Well'], inplace=True)
dfi.sort_index(inplace=True)
dfi.sort_index(axis=1)
dfi.drop(['Sample description 2', 'Sample description 3', 'Sample description 4',
          'TargetType', 'Supermix', 'Status', 'Experiment', 'SampleType'],
         axis=1, inplace=True)

Compute mean and standard deviation of `[vg/ml]`

In [13]:
dfi.loc[:, ['mean [vg/ml]']
        ] = dfi.groupby(level=["sample_id", 'Target']).apply(lambda x: x['vg/ml'].mean())

dfi.loc[:, ['STDE']] = dfi.groupby(level=["sample_id", 'Target']).apply(
    lambda x: x['vg/ml'].std(ddof=0))
# dfi.head()

In [14]:
def cv_fn(mean_vam: float, std_val: float, stype: str):
    cv = float("nan")
    # cv is not applied to negative samples
    if stype == 'nc':
        return cv

    if isinstance(mean_vam, float) and mean_vam != 0.0:
        cv = 100.0 * std_val / mean_vam
    return cv


CV_COLNAME = 'CV [%]'
dfi.loc[:, [CV_COLNAME]] = dfi.apply(lambda x: cv_fn(
    x['mean [vg/ml]'], x['STDE'], x['sample type']), axis=1)
dfi

                       index  Conc(copies/µL) DyeName(s)  Accepted Droplets  \
sample_id Target Well
1         IDT    A01       0              0.0        FAM              21095
                 A02       2         0.060016        FAM              19603
          ITR    A01       1              0.0        VIC              21095
                 A02       3         0.060016        VIC              19603
2         IDT    B01      44       172.366348        FAM              17148
...                      ...              ...        ...                ...
28        ITR    D08      83       107.511078        VIC              20084
29        IDT    E07      84         4.145006        FAM              20756
                 E08      86         1.626323        FAM              20269
          ITR    E07      85         6.992501        VIC              20756
                 E08      87         2.149548        VIC              20269

                       Positives  Negatives  final dilution factor  \
sample_id Target Well
1         IDT    A01           0      21095                  100.0
                 A02           1      19602                  100.0
          ITR    A01           0      21095                  100.0
                 A02           1      19602                  100.0
2         IDT    B01        2337      14811                28600.0
...                          ...        ...                    ...
28        ITR    D08        1754      18330                50000.0
29        IDT    E07          73      20683                50000.0
                 E08          28      20241                50000.0
          ITR    E07         123      20633                50000.0
                 E08          37      20232                50000.0

                                                    Sample sample type  \
sample_id Target Well
1         IDT    A01   Negative control nuclease free dH20          nc
                 A02   Negative control nuclease free dH20          nc
          ITR    A01   Negative control nuclease free dH20          nc
                 A02   Negative control nuclease free dH20          nc
2         IDT    B01         Plasmid control (pXL029_SacI)          pc
...                                                    ...         ...
28        ITR    D08            FB04-ID25, SI23-020-T03 CT           s
29        IDT    E07            FB04-ID26, SI23-020-T03 CT           s
                 E08            FB04-ID26, SI23-020-T03 CT           s
          ITR    E07            FB04-ID26, SI23-020-T03 CT           s
                 E08            FB04-ID26, SI23-020-T03 CT           s

                              vg/ml  mean [vg/ml]          STDE     CV [%]
sample_id Target Well
1         IDT    A01   0.000000e+00  3.000818e+04  3.000818e+04        NaN
                 A02   6.001635e+04  3.000818e+04  3.000818e+04        NaN
          ITR    A01   0.000000e+00  3.000818e+04  3.000818e+04        NaN
                 A02   6.001635e+04  3.000818e+04  3.000818e+04        NaN
2         IDT    B01   4.929678e+10  5.057463e+10  1.277855e+09   2.526672
...                             ...           ...           ...        ...
28        ITR    D08   5.375554e+10  5.624550e+10  2.489960e+09   4.426949
29        IDT    E07   2.072503e+09  1.442832e+09  6.296706e+08  43.641289
                 E08   8.131617e+08  1.442832e+09  6.296706e+08  43.641289
          ITR    E07   3.496250e+09  2.285512e+09  1.210738e+09  52.974479
                 E08   1.074774e+09  2.285512e+09  1.210738e+09  52.974479

[116 rows x 13 columns]

### Method check

In [15]:
from pcrep.check import method_check_routing

METHOD_CHECK_COLNAME = 'Conc(copies/µL)'


def method_check_fn(s):
    return method_check_routing(dc_limits['method'], s[SAMPLE_TYPE_NAME],
                                s[METHOD_CHECK_COLNAME], s.name[1])


VALUE_CHECK_NAME = 'method_check'
dfi.loc[:, [VALUE_CHECK_NAME]] = dfi.apply(
    lambda x: method_check_fn(x), axis=1)
dfi.head()

                       index  Conc(copies/µL) DyeName(s)  Accepted Droplets  \
sample_id Target Well
1         IDT    A01       0              0.0        FAM              21095
                 A02       2         0.060016        FAM              19603
          ITR    A01       1              0.0        VIC              21095
                 A02       3         0.060016        VIC              19603
2         IDT    B01      44       172.366348        FAM              17148

                       Positives  Negatives  final dilution factor  \
sample_id Target Well
1         IDT    A01           0      21095                  100.0
                 A02           1      19602                  100.0
          ITR    A01           0      21095                  100.0
                 A02           1      19602                  100.0
2         IDT    B01        2337      14811                28600.0

                                                    Sample sample type  \
sample_id Target Well
1         IDT    A01   Negative control nuclease free dH20          nc
                 A02   Negative control nuclease free dH20          nc
          ITR    A01   Negative control nuclease free dH20          nc
                 A02   Negative control nuclease free dH20          nc
2         IDT    B01         Plasmid control (pXL029_SacI)          pc

                              vg/ml  mean [vg/ml]          STDE    CV [%]  \
sample_id Target Well
1         IDT    A01   0.000000e+00  3.000818e+04  3.000818e+04       NaN
                 A02   6.001635e+04  3.000818e+04  3.000818e+04       NaN
          ITR    A01   0.000000e+00  3.000818e+04  3.000818e+04       NaN
                 A02   6.001635e+04  3.000818e+04  3.000818e+04       NaN
2         IDT    B01   4.929678e+10  5.057463e+10  1.277855e+09  2.526672

                      method_check
sample_id Target Well
1         IDT    A01          None
                 A02          None
          ITR    A01          None
                 A02          None
2         IDT    B01          None

### Droplets check

In [16]:
from pcrep.check import droplets_check

DROPLET_THRESHOLD = int(10000)
DROPLET_CHECK_COLNAME = 'Accepted Droplets'


def droplets_check_fn(s):
    return droplets_check(s[DROPLET_CHECK_COLNAME], DROPLET_THRESHOLD)


DROPLET_CHECK_NAME = 'droplet_check'
dfi.loc[:, [DROPLET_CHECK_NAME]] = dfi.apply(
    lambda x: droplets_check_fn(x), axis=1)
dfi.head()

                       index  Conc(copies/µL) DyeName(s)  Accepted Droplets  \
sample_id Target Well
1         IDT    A01       0              0.0        FAM              21095
                 A02       2         0.060016        FAM              19603
          ITR    A01       1              0.0        VIC              21095
                 A02       3         0.060016        VIC              19603
2         IDT    B01      44       172.366348        FAM              17148

                       Positives  Negatives  final dilution factor  \
sample_id Target Well
1         IDT    A01           0      21095                  100.0
                 A02           1      19602                  100.0
          ITR    A01           0      21095                  100.0
                 A02           1      19602                  100.0
2         IDT    B01        2337      14811                28600.0

                                                    Sample sample type  \
sample_id Target Well
1         IDT    A01   Negative control nuclease free dH20          nc
                 A02   Negative control nuclease free dH20          nc
          ITR    A01   Negative control nuclease free dH20          nc
                 A02   Negative control nuclease free dH20          nc
2         IDT    B01         Plasmid control (pXL029_SacI)          pc

                              vg/ml  mean [vg/ml]          STDE    CV [%]  \
sample_id Target Well
1         IDT    A01   0.000000e+00  3.000818e+04  3.000818e+04       NaN
                 A02   6.001635e+04  3.000818e+04  3.000818e+04       NaN
          ITR    A01   0.000000e+00  3.000818e+04  3.000818e+04       NaN
                 A02   6.001635e+04  3.000818e+04  3.000818e+04       NaN
2         IDT    B01   4.929678e+10  5.057463e+10  1.277855e+09  2.526672

                      method_check droplet_check
sample_id Target Well
1         IDT    A01          None          None
                 A02          None          None
          ITR    A01          None          None
                 A02          None          None
2         IDT    B01          None          None

#### Control check

In [17]:
from pcrep.check import control_check_routing

CONTROL_CHECK_COLNAME_ORIG = 'mean [vg/ml]'


def control_check_fn(s):
    c = control_check_routing(dc_limits, s[SAMPLE_TYPE_NAME],
                              s[CONTROL_CHECK_COLNAME_ORIG], s.name[1])
    return c[0]


def warning_check_fn(s):
    c = control_check_routing(dc_limits, s[SAMPLE_TYPE_NAME],
                              s[CONTROL_CHECK_COLNAME_ORIG], s.name[1])
    return c[1]


CONTROL_CHECK_NAME = 'control_check'
dfi.loc[:, [CONTROL_CHECK_NAME]] = dfi.apply(
    lambda x: control_check_fn(x), axis=1)

WARNING_CHECK_NAME = 'warning_check'
dfi.loc[:, [WARNING_CHECK_NAME]] = dfi.apply(
    lambda x: warning_check_fn(x), axis=1)


dfi.head()

                       index  Conc(copies/µL) DyeName(s)  Accepted Droplets  \
sample_id Target Well
1         IDT    A01       0              0.0        FAM              21095
                 A02       2         0.060016        FAM              19603
          ITR    A01       1              0.0        VIC              21095
                 A02       3         0.060016        VIC              19603
2         IDT    B01      44       172.366348        FAM              17148

                       Positives  Negatives  final dilution factor  \
sample_id Target Well
1         IDT    A01           0      21095                  100.0
                 A02           1      19602                  100.0
          ITR    A01           0      21095                  100.0
                 A02           1      19602                  100.0
2         IDT    B01        2337      14811                28600.0

                                                    Sample sample type  \
sample_id Target Well
1         IDT    A01   Negative control nuclease free dH20          nc
                 A02   Negative control nuclease free dH20          nc
          ITR    A01   Negative control nuclease free dH20          nc
                 A02   Negative control nuclease free dH20          nc
2         IDT    B01         Plasmid control (pXL029_SacI)          pc

                              vg/ml  mean [vg/ml]          STDE    CV [%]  \
sample_id Target Well
1         IDT    A01   0.000000e+00  3.000818e+04  3.000818e+04       NaN
                 A02   6.001635e+04  3.000818e+04  3.000818e+04       NaN
          ITR    A01   0.000000e+00  3.000818e+04  3.000818e+04       NaN
                 A02   6.001635e+04  3.000818e+04  3.000818e+04       NaN
2         IDT    B01   4.929678e+10  5.057463e+10  1.277855e+09  2.526672

                      method_check droplet_check control_check warning_check
sample_id Target Well
1         IDT    A01          None          None          None          None
                 A02          None          None          None          None
          ITR    A01          None          None          None          None
                 A02          None          None          None          None
2         IDT    B01          None          None          None          None

#### CV check

In [18]:
from pcrep.check import cv_check


def cv_check_fn(cv_val: float):
    return cv_check(cv_val)


CV_CHECK_NAME = 'cv_check'
dfi.loc[:, [CV_CHECK_NAME]] = dfi.apply(
    lambda x: cv_check_fn(x[CV_COLNAME]), axis=1)

### Floating point formatting

In [19]:
def add_comment(s, n):
    if s and n:
        s += ', ' + n
    elif not s and n:
        s = n
    return s


def concat_comments(x):
    s = None
    s = add_comment(s, x['method_check'])
    s = add_comment(s, x['droplet_check'])
    s = add_comment(s, x['control_check'])
    s = add_comment(s, x['cv_check'])
    s = add_comment(s, x['warning_check'])
    return s


dfi = dfi.assign(comments=dfi.apply(lambda x: concat_comments(x), axis=1))
dfi
dfc = dfi.copy()

In [20]:
col_order = ['Sample', 'final dilution factor', 'Conc(copies/µL)',
             'vg/ml', 'mean [vg/ml]', 'STDE', 'CV [%]', 'comments',
             'Accepted Droplets', 'Positives', 'Negatives', 'sample type']
dfi = dfi.loc[:, col_order]
dfi

                                                    Sample  \
sample_id Target Well
1         IDT    A01   Negative control nuclease free dH20
                 A02   Negative control nuclease free dH20
          ITR    A01   Negative control nuclease free dH20
                 A02   Negative control nuclease free dH20
2         IDT    B01         Plasmid control (pXL029_SacI)
...                                                    ...
28        ITR    D08            FB04-ID25, SI23-020-T03 CT
29        IDT    E07            FB04-ID26, SI23-020-T03 CT
                 E08            FB04-ID26, SI23-020-T03 CT
          ITR    E07            FB04-ID26, SI23-020-T03 CT
                 E08            FB04-ID26, SI23-020-T03 CT

                       final dilution factor  Conc(copies/µL)         vg/ml  \
sample_id Target Well
1         IDT    A01                   100.0              0.0  0.000000e+00
                 A02                   100.0         0.060016  6.001635e+04
          ITR    A01                   100.0              0.0  0.000000e+00
                 A02                   100.0         0.060016  6.001635e+04
2         IDT    B01                 28600.0       172.366348  4.929678e+10
...                                      ...              ...           ...
28        ITR    D08                 50000.0       107.511078  5.375554e+10
29        IDT    E07                 50000.0         4.145006  2.072503e+09
                 E08                 50000.0         1.626323  8.131617e+08
          ITR    E07                 50000.0         6.992501  3.496250e+09
                 E08                 50000.0         2.149548  1.074774e+09

                       mean [vg/ml]          STDE     CV [%]      comments  \
sample_id Target Well
1         IDT    A01   3.000818e+04  3.000818e+04        NaN          None
                 A02   3.000818e+04  3.000818e+04        NaN          None
          ITR    A01   3.000818e+04  3.000818e+04        NaN          None
                 A02   3.000818e+04  3.000818e+04        NaN          None
2         IDT    B01   5.057463e+10  1.277855e+09   2.526672          None
...                             ...           ...        ...           ...
28        ITR    D08   5.624550e+10  2.489960e+09   4.426949          None
29        IDT    E07   1.442832e+09  6.296706e+08  43.641289  <LOQ, CV>20%
                 E08   1.442832e+09  6.296706e+08  43.641289  <LOQ, CV>20%
          ITR    E07   2.285512e+09  1.210738e+09  52.974479  <LOQ, CV>20%
                 E08   2.285512e+09  1.210738e+09  52.974479  <LOQ, CV>20%

                       Accepted Droplets  Positives  Negatives sample type
sample_id Target Well
1         IDT    A01               21095          0      21095          nc
                 A02               19603          1      19602          nc
          ITR    A01               21095          0      21095          nc
                 A02               19603          1      19602          nc
2         IDT    B01               17148       2337      14811          pc
...                                  ...        ...        ...         ...
28        ITR    D08               20084       1754      18330           s
29        IDT    E07               20756         73      20683           s
                 E08               20269         28      20241           s
          ITR    E07               20756        123      20633           s
                 E08               20269         37      20232           s

[116 rows x 12 columns]

In [21]:
format_mapping = {'Conc(copies/µL)': '{:.2f}',
                  'vg/ml': '{:.2e}',
                  'mean [vg/ml]': '{:.2e}',
                  'STDE': '{:.2e}',
                  'CV [%]': '{:.2f}',
                  'final dilution factor': '{:.0e}'
                  }
dff = dfi.style.format(format_mapping)
display(dff)
dff.to_excel(BASE_FILEPATH + '-data_analysis_raw.xlsx', engine='openpyxl')
dfi.to_markdown(BASE_FILEPATH + '-data_analysis.md')

In [22]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(
    BASE_FILEPATH + '-data_analysis.xlsx', engine="xlsxwriter")

# Convert the dataframe to an XlsxWriter Excel object.
dfi.to_excel(writer, sheet_name="Sheet1")

# Get the xlsxwriter workbook and worksheet objects.
workbook = writer.book
worksheet = writer.sheets["Sheet1"]

# Add some cell formats.
fmt_fdl = workbook.add_format({"num_format": "0E+00"})
fmt_dec2e = workbook.add_format({"num_format": "0.00E+00"})
fmt_dec2f = workbook.add_format({"num_format": "0.00"})

# Note: It isn't possible to format any cells that already have a format such
# as the index or headers or any cells that contain dates or datetimes.

# Set the column width and format.
worksheet.set_column('D:D', 32)
worksheet.set_column('E:E', 18, fmt_fdl)
worksheet.set_column('F:F', 14, fmt_dec2f)
worksheet.set_column('G:I', 14, fmt_dec2e)
worksheet.set_column('J:J', None, fmt_dec2f)
worksheet.set_column('K:K', 32)
worksheet.set_column('L:O', 16)

# Close the Pandas Excel writer and output the Excel file.
writer.close()

#### Get sample...

In [23]:
def get_sample(df, samnple_num, target_id=None):
    idx = pd.IndexSlice
    if target_id:
        return df.loc[idx[samnple_num, target_id, :], :]
    else:
        return df.loc[idx[samnple_num, :, :], :]


tmps = get_sample(dfi, 2)
tmps

                                              Sample  final dilution factor  \
sample_id Target Well
2         IDT    B01   Plasmid control (pXL029_SacI)                28600.0
                 B02   Plasmid control (pXL029_SacI)                28600.0
          ITR    B01   Plasmid control (pXL029_SacI)                28600.0
                 B02   Plasmid control (pXL029_SacI)                28600.0

                       Conc(copies/µL)         vg/ml  mean [vg/ml]  \
sample_id Target Well
2         IDT    B01        172.366348  4.929678e+10  5.057463e+10
                 B02        181.302399  5.185249e+10  5.057463e+10
          ITR    B01         171.09613  4.893349e+10  4.991075e+10
                 B02          177.9301  5.088801e+10  4.991075e+10

                               STDE    CV [%] comments  Accepted Droplets  \
sample_id Target Well
2         IDT    B01   1.277855e+09  2.526672     None              17148
                 B02   1.277855e+09  2.526672     None              19101
          ITR    B01   9.772576e+08  1.958010     None              17148
                 B02   9.772576e+08  1.958010     None              19101

                       Positives  Negatives sample type
sample_id Target Well
2         IDT    B01        2337      14811          pc
                 B02        2728      16373          pc
          ITR    B01        2321      14827          pc
                 B02        2681      16420          pc

In [24]:
idxs = pd.IndexSlice
tmps.loc[idxs[2, ['IDT'], :], :]['mean [vg/ml]'].values

array([5.05746308e+10, 5.05746308e+10])

In [25]:
import json

params_file = './data/params.json'
with open(params_file) as json_file:
    check_params = json.load(json_file)
# print(check_params)

## Export report

### Create final (MS Word) dataframe

In [26]:
tmps.index

MultiIndex([(2, 'IDT', 'B01'),
            (2, 'IDT', 'B02'),
            (2, 'ITR', 'B01'),
            (2, 'ITR', 'B02')],
           names=['sample_id', 'Target', 'Well'])

In [27]:
idxs = pd.IndexSlice
display(tmps.loc[idxs[2, ['IDT'], :], :]['mean [vg/ml]'].values[0])
display(tmps.loc[idxs[2, ['IDT'], :], :]['Sample'].values[0])
display(tmps.index[0])
tmps.index.get_level_values('Target').unique()

50574630821.0

'Plasmid control (pXL029_SacI)'

(2, 'IDT', 'B01')

Index(['IDT', 'ITR'], dtype='object', name='Target')

In [28]:
tmps.index.get_level_values(SAMPLE_ID_NAME).unique()[0]
tmps['Sample'].array[0]

'Plasmid control (pXL029_SacI)'

In [29]:
from functools import reduce

DC_CONTROLS = {'IDT': {True: 'valid', False: 'not valid'},
               'ITR': {True: 'fulfill assay criteria', False: 'does not fulfill assay criteria'}}


def add_to(first, second, delim):
    if first:
        return first + delim + second
    elif second:
        return second
    else:
        return None


def isvalid_nc(s):
    comment = None
    val = s['mean [vg/ml]'].values[0]
    target = s.index.get_level_values('Target')[0]
    valid = not any(x is not None for x in s['droplet_check'].values)
    if any(x is not None for x in s['droplet_check'].values):
        comment = reduce(lambda s1, s2: s1 or s2, s['droplet_check'].values)
        valid = False
    if any(x is not None for x in s['method_check'].values):
        comment = add_to(comment, reduce(
            lambda s1, s2: s1 or s2, s['method_check'].values), '; ')
        valid = False
    # valid &= not any(x is not None for x in s['method_check'].values)
    val = DC_CONTROLS[target][valid]

    return (valid, val, comment)


def isvalid_prs(s):
    # display(s)
    ret = s['mean [vg/ml]'].values[0]
    comment = None
    valid = True
    if any(x is not None for x in s['droplet_check'].values):
        comment = reduce(lambda s1, s2: s1 or s2, s['droplet_check'].values)
        valid = False
    if any(x is not None for x in s['method_check'].values):
        comment = add_to(comment, reduce(
            lambda s1, s2: s1 or s2, s['method_check'].values), '; ')
        valid = False
    if any(x is not None for x in s['cv_check'].values):
        comment = add_to(comment, reduce(
            lambda s1, s2: s1 or s2, s['cv_check'].values), '; ')
        valid = False
    if any(x is not None for x in s['warning_check'].values):
        comment = add_to(comment, reduce(
            lambda s1, s2: s1 or s2, s['warning_check'].values), '; ')

    return (valid, ret, comment)


def process_sample(s):
    targets = s.index.get_level_values('Target').unique()
    target = '/'.join(targets)
    id = int(s.index.get_level_values(SAMPLE_ID_NAME).unique()[0])
    stype = s['sample type'].array[0]
    dc = {'id': id,
          'target': target,
          'type': stype,
          'name': s['Sample'].array[0]
          }
    for t in targets:
        comment = None
        k = f'result {t} [vg/ml]'
        kc = f'comment {t}'
        if stype == 'nc':
            v = isvalid_nc(s.loc[idxs[:, [t], :], :])
            if not v[0]:
                comment = DC_CONTROLS[t][v[0]] + '; ' + v[2]
            # else:
            #     comment = DC_CONTROLS[t][v[0]]
        elif stype == 'pc' or stype == 'rc':
            v = isvalid_prs(s.loc[idxs[:, [t], :], :])
            comment = DC_CONTROLS[t][v[0]]
        elif stype == 's':
            v = isvalid_prs(s.loc[idxs[:, [t], :], :])
            if not v[0]:
                v = (v[0], v[2])
        dc[k] = v[1]
        dc[kc] = comment
    return dc


dff = pd.DataFrame()
for n in samples:
    s = get_sample(dfc, n)
    r = process_sample(s)
    dff = pd.concat([dff, pd.DataFrame([r])], ignore_index=True)
dff.set_index(['id'], inplace=True)

col_order = ['target', 'type', 'name', 'result IDT [vg/ml]',
             'result ITR [vg/ml]', 'comment IDT', 'comment ITR']
dff = dff.loc[:, col_order]
display(dff)

,target,type,name,result IDT [vg/ml],result ITR [vg/ml],comment IDT,comment ITR
id,,,,,,,
1,IDT/ITR,nc,Negative control nuclease free dH20,valid,fulfill assay criteria,None,None
2,IDT/ITR,pc,Plasmid control (pXL029_SacI),50574630821.0,49910750875.699997,valid,fulfill assay criteria
3,IDT/ITR,rc,Reference control (PP073_1933_FDP),138867568975.0,202324127200.0,valid,fulfill assay criteria
4,IDT/ITR,s,"FB04-ID01, SI23-020-T04 CT",72881942750.0,97020179750.0,None,None
5,IDT/ITR,s,"FB04-ID02, SI23-020-T04 CT",80264270775.0,105953002925.0,None,None
6,IDT/ITR,s,"FB04-ID03, SI23-020-T04 CT",70815425875.0,93690284725.0,None,None
7,IDT/ITR,s,"FB04-ID04, SI23-020-T04 CT",64616943375.0,84018188475.0,None,None
8,IDT/ITR,s,"FB04-ID05, SI23-020-T04 CT",100419937150.0,127401027675.0,None,None
9,IDT/ITR,s,"FB04-ID06, SI23-020-T04 CT",87252220150.0,111814701075.0,None,None
10,IDT/ITR,s,"FB04-ID07, SI23-020-T04 CT",9599283217.5,13303309440.0,None,None
11,IDT/ITR,s,"FB04-ID08, SI23-020-T04 CT",10490285397.5,14065928937.5,None,None
12,IDT/ITR,s,"FB04-ID09, SI23-020-T04 CT",52174589175.000008,64589912425.0,None,None
13,IDT/ITR,s,"FB04-ID10, SI23-020-T04 CT",49306480400.0,62319740300.000008,None,None
14,IDT/ITR,s,"FB04-ID11, SI23-020-T04 CT",50208599082.5,65079826350.0,None,None
15,IDT/ITR,s,"FB04-ID12, SI23-020-T04 CT",43905530930.0,56988719925.0,None,None
16,IDT/ITR,s,"FB04-ID13, SI23-020-T04 CT",<LOQ,<LOQ,None,None
17,IDT/ITR,s,"FB04-ID14, SI23-020-T03 CT",161905998225.0,199276405325.0,None,None
18,IDT/ITR,s,"FB04-ID15, SI23-020-T03 CT",165147453325.0,205097122175.0,None,None
19,IDT/ITR,s,"FB04-ID16, SI23-020-T03 CT",134968360900.0,168573112500.0,None,None
20,IDT/ITR,s,"FB04-ID17, SI23-020-T03 CT",CV>20%,CV>20%,None,None
21,IDT/ITR,s,"FB04-ID18, SI23-020-T03 CT",165058357250.0,201351455675.0,None,None
22,IDT/ITR,s,"FB04-ID19, SI23-020-T03 CT",171265724200.0,211778419500.000031,None,None
23,IDT/ITR,s,"FB04-ID20, SI23-020-T03 CT",22269416810.0,28850667954.999996,None,None
24,IDT/ITR,s,"FB04-ID21, SI23-020-T03 CT",23487088202.5,30312058450.0,None,None
25,IDT/ITR,s,"FB04-ID22, SI23-020-T03 CT",42499593735.0,52965185150.0,None,None
26,IDT/ITR,s,"FB04-ID23, SI23-020-T03 CT",45915384292.5,56139968850.0,None,None
27,IDT/ITR,s,"FB04-ID24, SI23-020-T03 CT",46045852660.0,56664918900.0,None,None
28,IDT/ITR,s,"FB04-ID25, SI23-020-T03 CT",46024419785.0,56245498650.0,None,None
29,IDT/ITR,s,"FB04-ID26, SI23-020-T03 CT",<LOQ; CV>20%,<LOQ; CV>20%,None,None

In [30]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(
    BASE_FILEPATH + '-final.xlsx', engine="xlsxwriter")

# Convert the dataframe to an XlsxWriter Excel object.
dff.to_excel(writer, sheet_name="Sheet1")

# Get the xlsxwriter workbook and worksheet objects.
workbook = writer.book
worksheet = writer.sheets["Sheet1"]

# Add some cell formats.
fmt_dec2e = workbook.add_format({"num_format": "0.00E+00"})

# Note: It isn't possible to format any cells that already have a format such
# as the index or headers or any cells that contain dates or datetimes.

# Set the column width and format.
worksheet.set_column('D:D', 32)
worksheet.set_column('E:E', 18, fmt_dec2e)
worksheet.set_column('F:F', 24, fmt_dec2e)
worksheet.set_column('G:G', 32)
worksheet.set_column('H:H', 32)

# Close the Pandas Excel writer and output the Excel file.
writer.close()

#### Checks

In [31]:
s = get_sample(dfc, 1)
s

                       index  Conc(copies/µL) DyeName(s)  Accepted Droplets  \
sample_id Target Well
1         IDT    A01       0              0.0        FAM              21095
                 A02       2         0.060016        FAM              19603
          ITR    A01       1              0.0        VIC              21095
                 A02       3         0.060016        VIC              19603

                       Positives  Negatives  final dilution factor  \
sample_id Target Well
1         IDT    A01           0      21095                  100.0
                 A02           1      19602                  100.0
          ITR    A01           0      21095                  100.0
                 A02           1      19602                  100.0

                                                    Sample sample type  \
sample_id Target Well
1         IDT    A01   Negative control nuclease free dH20          nc
                 A02   Negative control nuclease free dH20          nc
          ITR    A01   Negative control nuclease free dH20          nc
                 A02   Negative control nuclease free dH20          nc

                           vg/ml  mean [vg/ml]        STDE  CV [%]  \
sample_id Target Well
1         IDT    A01       0.000    30008.1765  30008.1765     NaN
                 A02   60016.353    30008.1765  30008.1765     NaN
          ITR    A01       0.000    30008.1765  30008.1765     NaN
                 A02   60016.353    30008.1765  30008.1765     NaN

                      method_check droplet_check control_check warning_check  \
sample_id Target Well
1         IDT    A01          None          None          None          None
                 A02          None          None          None          None
          ITR    A01          None          None          None          None
                 A02          None          None          None          None

                      cv_check comments
sample_id Target Well
1         IDT    A01      None     None
                 A02      None     None
          ITR    A01      None     None
                 A02      None     None

### Markdown and word export

In [32]:
# with open('md_intro.md', 'r') as f:
#     md_intro = f.read()
# with open('md_end.md', 'r') as f:
#     md_end = f.read()

# md_eval = final.to_markdown()

# md = md_intro + md_eval + md_end


# def save_md(file_path, md_txt):
#     try:
#         with open(file_path, 'w') as fl:
#             fl.write(md_txt)
#     except Exception as e:
#         print('Error: ' + str(e))


# MD_FILE = './example/230901_GN004308-086/230901_GN004308-086.md'
# save_md(MD_FILE, md)

# xls_path = os.path.splitext(MD_FILE)[0] + '.xlsx'
# final.to_excel(xls_path)

In [33]:
# from pcrep import mdhandling

# with open(os.path.join(DATA_DIR, "config.json")) as json_file:
#     jd = json.load(json_file)
#     reference_doc = jd['reference_docx']
#     pdflatex_bin = jd['pdflatex_bin']
#     pandoc_bin = jd['pandoc_bin']

# mdhandling.md2docx(pandoc_bin, reference_doc, MD_FILE)
# print("Done.")

In [34]:
# ! pip install jinja2
# ! pip install tabulate
# ! pip install xlsxwriter